
@font-face {
	font-family: 'Cormorant-Garamond-Light';
	src: url('./assets/fonts/CormorantGaramond-Light.otf');
}
@font-face {
	font-family: 'BuongiornoRastellinoCyrScript';
	src: url('./assets/fonts/BuongiornoRastellinoCyrScript.ttf');
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-size: 3.5vw;
	overflow-x: hidden;
}
header{
	position: relative;
	display: flex;
	background-color: black;
	background-size: cover;
	width: 100vw;
	overflow: hidden;
	min-height: 810px;
	height: 66vw;
	justify-content: center;
	align-items: center;
}
.wrapper{
	margin: 0;
	font-family: 'Cormorant-Garamond-Light';
	color: #A67C52;
	font-size: 2.5vw;
}
header .start-left{
	top: 0;
	left: 0;
	width: 48vw;
	height: 60vw;
	min-width: 336px;
	min-height: 420px;

}
header .start-right{
	bottom: 0;
	right: 0;
	width: 72vw;
	height: 72vw;
}

header .start-left-mv{
	bottom: 10px;
	left: -10px;
	min-height: 270px;
	min-width: 140px;
	display: none;
}
body .start-right-mv{
	top: 550px;
	right: -10px;
	min-height: 465px;
	min-width: 276px;
	z-index: 1000000;
	display: none;
}




.newlyweds{
position: relative;
z-index: 1000;
margin-left: 3.6vw;
font-size: 4vw;
padding: 10.8vw 15.3vw 10.8vw 16.7vw;
border: 2px solid #a67c52;
}


.place{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	background-size: cover;
	width: 100vw;
	overflow: hidden;
	min-height: 810px;
	height: 66vw;
	padding-top: 6vw;
	padding-bottom: 5.16vw;
	padding-left: 1.86vw;
	position: relative;
}
.place .inition-right{
	left: -5px;
	bottom: -10px;
	width: 45vw;
}
.place .inition-right-mv{
	left: -5px;
	bottom: 0;
	width: 150px;
	display: none;
}
.flower-container{
	content: '';
	position: relative;
}
.flower-container .place-center-mv{
	left: 10vw;
	top: calc(-53vw /2);
	width: 75vw;
	height: 53vw;
	z-index: 10000;
	display: none;
}
.invition{
	font-size: 2.5vw;
	text-align: center;

}

.date{
	width: 21.17vw;
	height: auto;
	min-width: 100px;
}
.adress{
	text-align: center;
	font-size: 2.08vw;
}
.time{
	font-size: 4.16vw;
}
.flower{
	width: 13.08vw;
	position: absolute;
	bottom: 0;
	right: 0;
}
h2{
	font-family: BuongiornoRastellinoCyrScript;
	font-size: 12vw;
	margin: 0;
	font-weight: 100;
}
h3{
	letter-spacing: 1.16vw;
	text-transform: capitalize;
	font-size: 2.2vw;
	font-weight: 100;
}
.hints-and-wishes{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	background-size: cover;
	width: 100vw;
	height: 48.3vw;
	min-height: 680px;
	padding-top: 2.8vw;
	padding-bottom: 2.5vw;
	position: relative;
}
.hint-container{
display: flex;
justify-content: center;
gap: 3vw;
}
.presents{
	text-align: end;
	text-transform: uppercase; 
	font-size: 1.25vw;
	padding-left: 9vw;
	letter-spacing: 1.3px;
}
.wishes{
	padding-top: 10vw;
	text-align: start;
	text-transform: uppercase; 
	font-size: 1.25vw;
	letter-spacing: 1.3px;
	font-weight: 100;
}
footer{
	width: 100vw;
	height: 13.33vw;
	min-height: 130px;
	background-color: black;
	background-size: cover;
	position: relative;
}
.flowerFoot{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 35.25vw;
	height: 35.25vw;
}
.flowerUp{
	position: absolute;
	top: -2px;
	right: 0;
	width: 21.16vw;
	height: 26.15vw;
}
p {margin: 0;
	margin-top: 5.5vw;
	font-size: 1.7vw;
}
.gorko{
	margin-left: 2.8vw;
}
.mobile-spaces{
	display: none;
}
.sign{
	font-family: BuongiornoRastellinoCyrScript;
	font-size: 12vw;
	margin: 0;
	font-weight: 100;
	padding: 0;
	display: none;
}
footer{
	font-size: 16px;
	color: #A67C52;
	font-family: 'Cormorant-Garamond-Light';
	text-transform: uppercase;
	position: relative;
}
.help{
	padding-top: 2vw;
	text-align: center;
	font-size: 1.5vw;
	line-height: 1;
	z-index: 100000;
}
.koordinator-tel{
	display: inline-block;
	padding-top: 1vw;
	font-size: 2.17vw;
	padding-bottom: 1vw;
}
@media (max-width:700px){
	header .start-right{
	display: none;
	}

	header .start-left {
		z-index: 10000;
	}
	header .start-left-mv{
		display: block;
	}
	body .start-right-mv{
		display: block;
	}
	.place{
		padding-top:212px;
		padding-bottom: 200px;
	}
	.invition{
		font-size : 17px;
  	line-height : 17px;
  	color : #A67C52;
	}
	.adress{
		font-size : 15px;
  	line-height : 15px;
	}

	.place .inition-right{
		display: none;
	}
	.place .inition-right-mv{
		display: block;
	}
	.flower-container .place-center-mv{
		display: block;
	}
	.mob{
		font-size : 18px;
		line-height : 25px;
	}
	.time{
		font-size : 30px;
  	line-height : 25px;
	}
	.hints-and-wishes{
	padding-top: 150px;
	padding-bottom: 0;
	gap: 30px;
	}
	h2{
		font-size: 17vw;
	}
	.hint-container{
		flex-direction: column;
		gap: 20px;
	}
	.wishes{
		padding-top: 0;
		text-align: center;
		font-size: 2.17vw;
	}
	.presents{
		padding-left: 0;
		text-align: center;
		font-size: 2.17vw;
	}
	.mobile-spaces{
		display: block;
	}
	.desctop-spaces{
		display: none;
	}
	h3{
		margin: 0;
		font-size: 5.4vw;
	}
	p{
		margin: 0;
		text-align: center;
		font-size: 2.17vw;
		padding-top: 100px;
	}
	.sign{
		display: block;
	}
	.help{
		font-size: 12px;
	}
	.koordinator-tel{
		font-size: 15px;
	}
	.flowerFoot{
		left: -2vw;
		bottom: -15px;
	}
}
